.all-books-img {
  position: relative;
}

.all-books-img .fa {
  position: relative;
}

.all-books-img .fa-heart-o {
  position: relative;
  left: 9.5rem;
  top: -5.5rem;
  border-radius: 50%;
  background-color: var(--white);
  padding: 0.5rem;
  color: #000;
}

.all-books-img .fa-heart-o:hover {
  color: var(--white);
  background-color: #000;
}

.all-books-img {
  position: relative;
}


.all-books-img .rectangle h2 {
  font-size: 1rem;
  color: #fff;
  padding-top: 6px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.all-books-grid .item {
  margin: 1.5rem 0;
}

.all-books-grid .item span {
  margin: 0 2rem;
  display: block;
  font-size: 0.8rem;
}

.all-books-grid .all-books-img {
  margin: 1.5rem 0;
  position: relative;
}

.all-books-grid .all-books-img img {
  width: 150px;
  height: 224px;
}

.all-books-grid .all-books-img .overlay {
  position: absolute;
  bottom: 0;
  left: 2.25rem;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 150px;
  height: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.all-books-grid .all-books-img:hover .overlay {
  height: 18%;
  max-width: 150px;
}

.all-books-grid .all-books-img .order_now_btn {
  margin-top: 10px;
  width: 100%;
  background-color: var(--white);
  border: 2px solid var(--primary);
  color: var(--primary);
}

.all-books-grid .all-books-img .rectangle {
  background: var(--primary);
  height: 30px;
  padding: 0 10px;
  position: absolute;
  left: 26px;
  top: -22px;
  float: left;
  z-index: 100;
  border-radius: 0 20px 20px 0;

  h2 {
    font-size: 0.8rem;
    color: #fff;
    padding-top: 6px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
}



.menuLinks>li {
  font-size: 14px;
  font-family: "Lato, sans-serif";
  font-weight: 400;
  font-style: normal;
  color: var(--primary);
  text-decoration: none;
  margin-top: 0.7375rem;
}



.content-wrapper {
  border-left: 1px solid #ccc;
  padding-left: 55px;
  padding-top: 5px;
}

.try {
  font-size: 12px !important;
}
// .form-select {
//   font-size: 12px !important;
// }

.list-v, .grid-v {
  color: rgb(165, 165, 165); 
  padding:15px;
  &:hover {
    filter: brightness(120%);
    border-bottom: 1px solid gray;    
  }
}


.product-title {
  font-family: Poynter, Georgia, serif !important;
  font-weight: 400;
  font-style: normal;
  color: inherit;
  padding-top: 0.5625rem;
  margin-bottom: 4px;
  font-size: 20px;
}

.product-title > a {
  color: black !important;
  text-decoration: none;
}

.product-title > a:hover {
  text-decoration: underline;
}

.wishlist-img {
  width: 160px;
  height: 240px;
}

.wishlist-img:hover {
  border: 1px solid var(--primary);
  padding: 1px;
}

.mobile-product-card {
  padding: 2rem;
}