//  Responsive ============================================================================= //
@media (max-width: 767px) {



    // .all-books{

    //     h2,p,button,a {
    //         font-size: 12px !important;
    //     }
    //     h3{
    //         font-size: 14px ;
    //     }
    // }
    .list-v,
    .grid-v {
        padding: 0;

        img {
            padding: 5px;
        }
    }

    .try {
        width: 100%;
    }

    .img_container {
        margin: 1rem 20px 20px 0 !important;
        min-width: 140px;
        object-fit: cover;
    }

    .btn-primary {
        font-size: 12px;
    }

    .product-title {
        font-size: 14px;
    }

    .price {
        font-size: 12px;
    }

    .format {
        font-size: 10px;
    }

    .subHeader {
        padding: 0;
    }

    .navbar {
        display: block;
    }

    .bookPromo-inner .row1 {
        flex-wrap: nowrap;
        display: flex;
        overflow: auto;
    }

    .mobile-hide {
        display: none;
    }

    .overview-container {
        margin: 0 10px !important;
    }

    .overview-wrapper {
        border: none !important;
        font-size: 14px;
        border-bottom: 0.5px solid #ccc !important;
    }

    .presentation {
        border-bottom: 0.5px solid #ccc !important;
    }

    .rhf-desktop-hide {
        display: block;
    }

    .pdp-header-info {
        text-align: center;
    }

    .rating.pt-2 {
        justify-content: center;
    }

    // Footer 

    .footer-list {
        border-bottom: #dee2e6 1px solid;
        margin-bottom: 20px;
    }

    .footer-list .col {

        width: 100%;
        max-width: 100%;
        flex: none;
        margin-bottom: 15px;
    }

    .footer-wrap .f-head {
        font-size: 16px;
        padding-bottom: 5px;
        position: relative;

    }

    .footer-wrap .f-head:after {

        content: '\f107';
        font-family: 'FontAwesome';
        font-size: 20px;
        color: #969da2;
        position: absolute;
        top: -3px;
        right: 0;
    }

    .footer-wrap .f-head.arrow:after {
        transform: rotate(180deg);

    }

    .footer-wrap .list-unstyled {
        display: none;
        padding-left: 10px;
        margin-bottom: 10px;
    }

    .footer-wrap .list-unstyled li {
        width: 49%;
        display: inline-block;
    }

    .footer-wrap .list-unstyled li a {
        font-size: 15px;
    }

    .footer-wrap .list-unstyled.show {
        display: flex;
        flex-wrap: wrap;
    }

    .f-head {
        font-size: 16px;
    }

    .f-head1,
    .f-head2,
    .ft-promo-link a {
        font-size: 14px;
    }

    .fsocial {
        justify-content: center;
    }

    .footerList-nav {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 15px;
    }

    .footerList-nav li {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }

    .footerList-nav li a {
        font-size: 14px !important;
    }

    /* wishlist */
    .wishlist-select {
        width: 100%;
        margin: 1rem 0.5rem;
    }

    .tabset {
        width: 100%;
    }


}

@media (max-width: 991px) {

    // Download popup
    .title-pp {
        // position: relative;
        // top: 10px;
        padding: 1rem;
        position: relative;
        left: 0 !important;
    }

    .download-body {
        // padding: 0;
        position: relative;
        bottom: 1rem !important;
        left: 0 !important;
        padding-right: 0rem;

    }

    .btn-sidebar {
        font-size: 28px;
        cursor: pointer;
        position: absolute;
        top: -8px;
    }

    .cart-icon2 {
        // width: 15px;
        margin: auto;
        position: absolute;
        right: -45%;

        #hover_btn {
            width: 20px;
        }
    }

    .bs-logo-bar {

        flex-wrap: wrap;
        align-items: center;
        position: relative;
        padding-bottom: 1rem;
    }

    .bs-logo-bar>.logo_main {
        position: absolute;
        left: 50%;
        top: 5px;
        transform: translateX(-50%);
        text-align: center;
    }

    .bs-logo-bar .search-input {
        order: 5;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 1.5rem !important;
    }

    .bs-logo-bar .wishlistArea {
        margin-left: auto;
    }

    .wishlistArea {
        margin-right: 0;
    }

    .wishlistArea span {
        display: none;
    }

    .rhf-desktop-hide {
        display: block;
    }

    .pre-navCarousel>button {
        visibility: hidden;
    }

    .carousel-item {
        font-size: 12px !important;
    }

    .account-options {
        display: none !important;
    }

    .ad-banner {
        margin-top: 0;
        height: auto;
    }


    .slick-icon {
        margin-bottom: 0 !important;
    }

    .slick-icon p {
        font-size: 13px;
    }

    .slick-icon {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 20px) !important;
        max-width: 0 auto;
        margin: 0 !important;
        margin-bottom: 20px;

        img {
            padding: 15px;
            object-fit: cover;
            width: auto;
            max-height: 100px;
            border-radius: 15px;
        }
    }

    .personCircle {
        background-color: #fff;
        padding: 5px;
        border-radius: 50%;
    }

    // Author 

    .author img {
        border-radius: 100%;
        width: 100px !important;
        height: 100px !important;
        object-fit: cover;
    }


    // Product- detail Page 



    .Product_detail .Product-container {
        margin: 0px;
    }

    .Product_detail .product-thumb {
        width: 24%;
        margin: 0;
        height: auto;
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .Product_detail .heart-icon {
        margin: 0px;
    }

    .Product_detail .pdp-header-title {
        font-size: 20px;
    }

    .Product_detail .radio-btn {
        margin: 10px auto;
    }

    .Product_detail .cart-btn {
        margin: 0px !important;
    }

    .Product_detail .overview-container {
        margin: 10px 15px;
    }

    .Product_detail .pdp-tab-container {
        margin: 10px 0px;
    }

    .Product_detail .tabset {
        width: 100%;
    }

    .tabset>input:checked+label {
        margin: 0px;
    }

    .Product_detail .tabset>label {
        padding: 2.4%;
        margin: 0px;
    }

    .Product_detail .EditorialReviews {
        margin: 20px auto;
        padding: 15px 0px 30px;
    }

    .Product_detail .reviews {
        margin: 20px 15px;
    }

    .Product_detail .search_container {
        padding: 0px;
    }

    .Product_detail .search_container input {
        width: 75%;
    }

    .Product_detail .search_container button {
        width: 23%;
        padding: 0px;
    }

    .Product_detail .bv-content-title,
    .Product_detail .w-50 {
        width: 100% !important;
        margin-bottom: 5%;
    }

    .Product_detail .bv-section-summary {
        flex-wrap: wrap;
    }

    .Product_detail .reviews h6 {
        font-size: 1rem;
    }

    .Product_detail .recentlyViewed {
        margin: 20px auto;
    }

    .Product_detail .recentlyViewed_container {
        width: 100%;
    }

    .Product_detail .recentlyViewed_container img {
        width: 50%;
    }

    .Product_detail #aboutAuthor,
    .Product_detail #readExpert {
        padding: 20px 15px;
    }

    .Product_detail .link {
        font-weight: 400;
        font-style: normal;
        display: inline-block;
        color: #3848a2;
        text-decoration: none;
        padding: 0;
        line-height: 1;
        cursor: pointer;
        font-size: 12px;
    }

    .pdp-tab-container {
        margin: 50px 10px 0 !important;
    }


    // Product  List 

    .content-wrapper {
        border: none;
        padding: 0 5px 0 5px;
    }

}

// Mobile Nav 


.sidenav {
    background-color: #fff;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    // transition: 0.5s;
}

.sidebar-header {
    background: var(--white);
    padding: 10px 15px;
    position: relative;
    border-bottom: 1px solid --gray;
}

.sidebar-header h4 {
    font-size: 20px;
    color: var(--primary);
    margin-bottom: 0;
}

.mobile-account {
    background: var(--primary);
    padding-top: 5px !important;

    span {
        color: #fff !important;
    }
}

.sidenav .sidebar-header .closebtn {
    font-size: 34px;
    color: var(--primary);
    padding: 0 5px;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 5px;
    line-height: 38px;
}

.sidenav .bs-navbar-nav>.nav-item {
    border-right: none
}

.sidenav .bs-navbar-nav>.nav-item {
    border-bottom: #e5e5e5 1px solid;
    padding-bottom: 8px !important;
    margin-bottom: 8px;
    position: relative;
}

.sidenav .linkText {
    margin-right: 18px;
    margin-left: 18px;
}

.sidenav .bs-menu {
    width: 100%;
    padding: 10px 15px;
    margin-top: 10px;
}


// Check later for tags